ul.pagination {
    width: 24%;
    position: relative;
    display: flex;
    margin: 25px auto;
    column-gap: 15px;
    /* margin: 10px 0 30px; */
    justify-content: center;
}
ul.pagination::after{
    content: ">";
    position: absolute;
    right: 0px;
    font-size: 40px;
    font-weight: 900;
    bottom: -14px;
}
ul.pagination::before{
    content: "<";
    position: absolute;
    left: 35px;
    font-size: 40px;
    font-weight: 900;
    bottom: -14px;
}
li.page-item {
    list-style: none;
}

a.page-link {
    text-decoration: none;
    color: #000;
    padding: 8px;
    border: 1px solid #000;
}

a.page-link.active {
    background: #000;
    color: #fff;
}